<p>
  <label for="settings_watermark_enable"><%= l(:watermark_enable) %></label>
  <input type="checkbox" name="settings[watermark_enable]" id="settings_watermark_enable" <%= Setting.plugin_redmine_watermark['watermark_enable'] == 'on' ? 'checked' : nil %>>
</p>

<p>
  <label for="settings_watermark_custom_text"><%= l(:watermark_custom_text) %></label>
  <input type="text" name="settings[watermark_custom_text]" id="settings_watermark_custom_text" value="<%= Setting.plugin_redmine_watermark['watermark_custom_text'] %>" size="80">
</p>
